body {
  width:95%;
  margin:auto;
  /*font-family: 'Roboto', sans-serif;*/
  color: #111111;
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
"wdth" 100;
  background-color: #fffdf5;
}

p {
  font-size: 1.1rem;
}
table{
  font-size: 1.2rem;
}

h1, h3{
  color: #38220f;
}
.sour-gummy {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: ExtraBold;
  font-variation-settings: "wdth" 100;
  letter-spacing: .35rem;
}
  
.noto-sans {
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 200;
}

a {color: #38220f;}
a:active, a:hover {color: #967259;}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  /*scroll-padding-top: 8rem;*/
}

img.head{
  border-radius: 6px;
  max-height: 90px;
  vertical-align: middle;
  /*float: left;*/
}

hr{
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #111111;  /* old IE */
  background-color: #111111;  /* Modern Browsers */
  margin-top: 1.5rem;
}

table {
  text-align:left;
}
  
td, th { /* table cells */
  padding-right: 1.5rem;
  padding-bottom: .5rem;
}
th{
  color: #38220f;
}

output{
  vertical-align: middle;
}

/*datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: sideways-lr ;
  width: 80%;
}*/
  
option {
  transform: rotate(-90deg);
  padding-bottom: 2px;
}
  
input[type="range"] {
  width: 80%;
  margin: 0;
}
.range_val{
  width:20%;
  font-weight: bold;
  text-align: right;
  float:right;
  font-size: 1.1rem;
}
input[type="radio"] {
  padding: 0;
  vertical-align: middle;
}

.radio_label{
  padding-right: 10px;
  font-size: 1.2rem;
  vertical-align: middle;
}

#aero_warning {
  color: #c31; 
  display:none;
}
.section {
  /*display: none;*/
  margin-bottom: 1.5rem;
  scroll-margin-top: 5.3rem; /*enable / update this when you add more stuff to the sticky header*/
}

.nav{
  text-decoration: none;
}

.goTop{
  font-style: ExtraBold !important;
  font-size: 1.5rem;
}
.right{
  text-align:right;
  color: #38220f;
}

#nav {
  position: sticky; 
  top: 0; 
  background-color: #fffdf5; 
  z-index: 1000;
}
.nav_padding{
  padding-top: 8px;
  padding-bottom: 8px;
}

ul{
  padding-left: 1.4rem;
}

li{
  font-size: 1.1rem;
}

#wake{
  /*text-align:center;
  margin:auto;*/
  margin-bottom: -1rem;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  #wake {
    display: none;
  }
}